nav{
    border-style: solid;
    border-width: 0.5px;
    background-color: aquamarine;
}

.home{
    /* border-style: solid; */
    /* padding: 5px; */
    box-shadow: 5px;
    /* background-color: rgb(204, 232, 26); */
}
.about{
    margin-left: 10px;
}
.todolist{
    margin-left: 10px;
}